<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Ajout Ami</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container-fluid px-1 py-5 mx-auto">
		<div class="row d-flex justify-content-center">
			<div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
				<h3>Ajouter un ami:</h3>
				<form th:action="@{/addAmi}" th:object="${amiDto}" method="POST">
					<div class="row justify-content-between text-left">
						<div class="form-group col-sm-6 flex-column d-flex">
							<label class="form-control-label px-3">Prenom<span
								class="text-danger"> *</span></label> <input type="text" id="fname"
								name="fname" placeholder="Insérez votre prénom"
								th:field="*{prenom}">
						</div>
						<div class="form-group col-sm-6 flex-column d-flex">
							<label class="form-control-label px-3">Nom<span
								class="text-danger"> *</span></label> <input type="text" id="lname"
								name="lname" placeholder="Insérez votre nom"
								onblur="validate(2)" th:field="*{nom}">
						</div>
						<div class="form-group col-sm-6 flex-column d-flex">
							<label class="form-control-label px-3">Email<span
								class="text-danger"> *</span></label> <input type="text" id="fname"
								name="fname" placeholder="Insérez votre email"
								onblur="validate(1)" th:field="*{email}">
						</div>
					</div>
					<input class="btn btn-primary" type="submit" value="Ajouter" />
				</form>
			</div>
		</div>
	</div>

	<!-- Check if errorMessage is not null and not empty -->

	<div th:if="${errorMessage}" th:utext="${errorMessage}"
		style="color: red; font-style: italic;">...</div>

</body>
</html>