<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Email trouvé</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="card">
		<div class="card text-white bg-dark mb-3">
			<div class="card-header">
				<header>
					<img src="troispoints.png" class="rounded float-left"
						alt="paymybuddy">
					<p class="text-center">Pay My Buddy</p>
				</header>
			</div>
		</div>
		<div class="card-body">
			<form th:action="@{/addAmi}" method="POST">
				<p>Utilisateur trouvé! Il a été ajouté dans votre liste d'amis.</p>
				<p>Vous pouvez réaliser des opérations vers cet utilisateur dès maintenant.</p>
				 <a
					class="btn btn-secondary" href="transaction" role="button">Revenir à la page Transaction</a>
			</form>
		</div>
	</div>
</body>
</html>