<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Transactions</title>
   <link th:href="@{src/main/resources/static/styles.css}" rel="stylesheet" />
</head>
<body>
<body>
	<div>
		<h1>Souhaitez-vous effectuer quel type de transaction?</h1>
		<form th:action="@{/typeTransaction}"  method="POST">
					<select th:field="*{transaction.typeTransaction}">
							<option value="bancaire" selected="selected">Bancaire</option>
							<option value="utilisateur">Utilisateur</option>
					</select>
				<input name="submit" type="submit" value="Choisir" />
		</form>
	</div>
</body>
</html>