<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
  <h1>Liste des Utilisateurs</h1>
      <a href="addUtilisateur">Ajouter un nouveau utilisateur</a>
      <br/><br/>
         <table border="1">
            <tr>
               <th>Nom</th>
               <th>Prenom</th>
            </tr>
            <tr th:each ="utilisateur : ${utilisateurs}">
               <td th:utext="${utilisateur.nom}">...</td>
               <td th:utext="${utilisateur.prenom}">...</td>
            </tr>
         </table>
      </div>
</body>
</html>